@import '_colors';
@import url('https://fonts.googleapis.com/css?family=Roboto|Raleway:300,400');

body{
  font-family: 'Roboto', sans-serif;
  margin:0;
  padding: 0;
}

.general{
  &--button{
    text-decoration: none;
    cursor: pointer;
    background: $color8;
    padding: 13px 21px 15px;
    font-size: 14px;
    line-height: 20px;
    text-transform: uppercase;
    display: inline-block;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    color: white;
    transition: background-color 0.2s ease;    
    border:0;
  }
}

hr {
	height: 6px;
	background: url(http://ibrahimjabbari.com/english/images/hr-12.png) repeat-x 0 0;
  border: 0;
  width: 30%;
  margin-bottom: 34px;
}

.header{
  &--info{
    border-bottom: solid 1px $color1;
    padding: 10px 20px;
    font-size: 13px;
    color: white;
    text-align: right;
    text-transform: uppercase;
    background-color: $color8;
    &_icon{
      font-size: 25px;
      display: inline;
      vertical-align: middle;
      margin-right: 10px;
    }
  }

  &--logo{
    text-align: center;
    padding: 20px;
    img{
      width: 264px;
      height: 138px;
    }
  }

  &--menu{
    text-align: center;
    background-color: $color8;
    ul{
      list-style: none;
      padding: 0;
      margin: 0;
      li{
        display: inline-block;
        a{
          text-decoration: none;
          color: white;
          transition: color 0.2s ease;
          cursor: pointer;
          text-transform: uppercase;
          font-size: 13px;
          padding: 19px 40px;
          display: block;
          border-right: 1px solid rgba(255, 255, 255, 0.2);
          &:first-child{
            border-left: 1px solid rgba(255, 255, 255, 0.2);
          }
        }
      }
    }
  }
}

.home{
  &--cards{
    padding: 70px 0;
    font-family: 'Raleway';
    font-weight: 300;
    text-align: center;
    color:white;
      &_card{
        text-align: left;
        display: inline-block;
        height: 235px;
        position: relative;
        margin: 0 15px;
        &_overlay{
          padding: 20px 0px 0px 20px;
          position: absolute;
          left: 0;
          top: 0;
          height: 100%;
          width: 100%;
          p{
            width: 250px;
          }
        }
        img{
          width: 369px;
          height: 240px;
        }
      }
  }
}

.newproducts{
  text-align: center;
  background-color: $color9;
  padding-top: 70px;
  &--title{
    margin-bottom: 16px;
    font-size: 35px;
    display: block;
  }

}

.listproducts{
  padding-top: 70px;
  text-align: center;   
  text-transform: capitalize;
  background-color: $color9;   
  &--title{
    margin-bottom: 16px;
    font-size: 35px;
    display: block;
  }
}

.products{
  &--list{
    list-style: none;
    padding: 0;
    margin: 0;
    &__card{
      cursor: pointer;
      display: inline-block;
      margin: 10px;
      background: white;
      border: 1px solid $color10;
      img{
        width: 263px;
        height: 202px;
      }
      &__button{
        padding: 13px 0 15px;
        width: 100%;
      }
      &__info{
        padding: 20px 15px;
        &__title{
          text-align: left;
          font-size: 14px;
          color: $color2;
          display: block;
          font-weight: 400;
          padding-bottom: 15px;
        }
      }
    }
  }
}

.product{
  padding: 40px;
  &--image{
    display: inline-block;
    width: 40%;
    img{
      width: 500px;
      height: 385px;
    }
  }
  &--detail{
    vertical-align: top;
    display: inline-block;
    margin: 20px 20px 0 0;
    width: calc(60% - 20px);
    &__title{
      font-size: 26px;
      font-weight: bold;
      display: block;
      margin-bottom: 10px;
    }
    &__subtitle{
      display: block;
      font-size: 16px;
      color: rgba(0,0,0,0.5);
      font-family: 'Raleway';      
    }
  }
}

.footer{
  text-align: center;
  background-color: rgba(0,0,0,0.75);
  text-align: left;
  padding: 50px 70px;  

  &--about {
    display: inline-block;
    margin-right: 30px;
    vertical-align: top;
    &__title{
      color:white;
      font-size: 20px;
      margin-bottom: 10px;    
      display: block;  
    }
    &__subtitle{
      font-family: 'Raleway';
      display: block;
      color:white;
      font-size: 14px;
      margin-bottom: 5px;
    }
  }
}

.contact{
  padding: 50px 70px;
  &--content{
    text-align: left;
    &__title{
      margin:0;
    }
    &__subtitle{
      display:block;
      font-family: 'Raleway';
      margin-bottom: 10px;
    }
    &__first{
      float: left;
      margin-right: 40px;
    }
  }

}